<div class="container">
  <h2 class="py-3">Edition Filiale</h2>
  <form>
    <div class="form-group">
      <label for="nomFiliale">Nom filiale</label>
      <input type="text" name="nomFiliale" id="nomFiliale" class="form-control" aria-labelledby="nomFilialeLabel">
      <small id="nomFilialeLabel">Veuillez indiquer le nom de la filiale.</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" class="form-control" aria-labelledby="descriptionLabel"></textarea>
      <small id="descriptionLabel">Un court historique de la filiale.</small>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse Postale</label>
      <textarea name="adresse" id="adresse" class="form-control" aria-labelledby="adresseLabel"></textarea>
      <small id="adresseLabel">L'adresse postale de la filiale.</small>
    </div>
    <div class="form-group">
      <label for="">Reponsables</label>

    </div>
    <div class="form-group">
      <label for="">Téléphones</label>

    </div>
    <div class="form-group">
      <label for="">Emails</label>

    </div>
    <div class="form-group">
      <label for="observations">Observations</label>
      <textarea name="observations" id="observations" class="form-control"
        aria-labelledby="observationsLabel"></textarea>
      <small id="observationsLabel">Des observations générales qui concernent cette filiale.</small>
    </div>
  </form>
</div>
