<div id="liste-responsables" class="container">

  <form-edit-responsable *ngIf="displayMode === 'edit'" [isNew]="isNewContact" [contact]="contact"
    (cancelSubmitContact)="cancelEditContact()" (submitContact)="saveContact($event)">
  </form-edit-responsable>

  <div *ngIf="displayMode === 'list'">
    <h2 class="mt-3 mb-1">Liste des responsables</h2>

    <button class="btn btn-info" (click)="addNewContact()"><i class="fas fa-plus-circle"></i> Nouveau
      Responsable</button>

    <search-field class="my-2" (searchPattenModified)="searchPattern($event)"></search-field>

    <div class="summary small">
      <span><strong># Total :</strong> {{recordsCount}}</span>
      <span><strong># affichés : </strong> {{contacts.length}}</span>
      <span><strong># trouvés :</strong> {{contactsItemsCount}}</span>
    </div>

    <table-responsables [contacts]="contacts" (orderChanged)="changeOrderDirection($event)"
      (itemSelection)="toggleSelection($event)" (editContactClicked)="editContact($event)"
      (deleteContactClicked)="deleteContact($event)"></table-responsables>

    <div *ngIf="contactsItemsCount > contacts.length">
      <a [routerLink]="" (click)="fetchMore()">Afficher plus...</a>
    </div>
  </div>

  <div *ngIf="displayMode === 'selection' && selectedContacts().length > 0">
    <h2 class="mt-3 mb-1">Eléments sélectionnés</h2>

    <div class="alert alert-info my-2">
      <strong>Nombre de responsables : </strong> {{selectedContacts().length}}
    </div>

    <table-responsables [contacts]="selectedContacts()" [canReorder]="false" [canSelect]="false" [canEdit]="false"
      [canDelete]="false" [canRemove]="true">
    </table-responsables>
  </div>
</div>
