.numero {
  width: 2em;
  text-align: center;
}

.nom-prenom {
  width: auto;
}

.select-item {
  width: 3em;
  text-align: center;
}

.operations {
  text-align: center;
}

.operations.can-edit, .operations.can-delete, .operations.can-remove {
  width: 3em;
}

.operations.can-edit.can-delete {
  width: 6em;
}

@media screen and (max-width: 576px) {
  .operations.can-edit, .operations.can-delete, .operations.can-remove {
    width: 4em;
  }
  .operations.can-edit.can-delete {
    width: 8em;
  }
}
