th.numero, td.numero {
  font-size: 0.6rem;
  font-style: initial;
  width: 2rem;
}

th.operations, td.operations {
  width: 3rem;
  text-align: center;
}

th.can-edit.can-delete, td.can-edit.can-delete {
  width: 6rem;
  text-align: center;
}
