<div>
  <h2 class="my-3">{{ isNew ? 'Nouveau Responsable' : 'Edition Responsable'}}</h2>
  <form [formGroup]="frm" novalidate>
    <div class="my-2">
      <h5><i class="fas fa-user"></i> Nom & Prénom</h5>
      <input type="text" class="form-control" formControlName="nomPrenom" placeholder="Nom & Prénom"
        [ngClass]="{'is-invalid': frm.get('nomPrenom').invalid, 'is-valid': frm.get('nomPrenom').valid}">
      <div *ngIf="frm.get('nomPrenom').errors" class="invalid-feedback">
        <span *ngIf="frm.get('nomPrenom').errors['required']">Ce champ est obligatoire!</span>
        <span *ngIf="frm.get('nomPrenom').errors['pattern']">Doit être composé d'au moins 3 lettres!</span>
      </div>
    </div>
    <div *ngFor="let tc of typesContacts.items" [formArrayName]="tc.contact"
      class="border border-dark rounded py-1 px-2 my-1">
      <h5 class="my-2"><i [class]="tc.contactIcon"></i> {{tc.contact}}</h5>
      <table class="table table-sm">
        <tbody>
          <ng-container *ngFor="let ctrl of frm.get(tc.contact)['controls']; let i = index" [formGroupName]="i">
            <tr>
              <td class="align-top">
                <input class="form-control" placeholder="{{tc.contact}}" formControlName="valueContact"
                  [ngClass]="isValueContactInvalid(ctrl.get('valueContact'))">
                <div *ngIf="ctrl.get('valueContact').errors" class="invalid-feedback">
                  <span *ngIf="ctrl.get('valueContact').errors.required">Ce champ est obligatoire!</span>
                  <span *ngIf="ctrl.get('valueContact').errors.phoneFormat">Ce champs doit contenir
                    au moins 8 chiffres!</span>
                  <span *ngIf="ctrl.get('valueContact').errors.email">Adresse email incorrecte!</span>
                  <span *ngIf="ctrl.get('valueContact').errors.urlFormat">Adresse URL incorrecte!</span>
                </div>
              </td>
              <td class="align-top">
                <input class="form-control" placeholder="remarque" formControlName="remarque">
              </td>
              <td *ngIf="canRemoveItems" class="remove-item align-top"><button class="btn btn-danger btn-sm"
                  title="Supprimer..." type="button" (click)="removeContactItem(tc.contact, i)">
                  <i class="fas fa-trash-alt"></i></button></td>
              <td *ngIf="canReorderItems && frm.get(tc.contact)['controls'].length > 1"
                class="align-top text-center reorder-item">
                <div class="btn-group">
                  <button class="btn btn-dark btn-sm" *ngIf="i > 0" type="button"
                    (click)="swapContactsItems(tc.contact, i, i-1)">
                    <i class="fas fa-arrow-up" title="Monter"></i>
                  </button>
                  <button class="btn btn-dark btn-sm" *ngIf="i+1 < frm.get(tc.contact)['controls'].length" type="button"
                    (click)="swapContactsItems(tc.contact, i, i+1)" title="Descendre">
                    <i class="fas fa-arrow-down"></i>
                  </button>
                </div>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <button *ngIf="canAddItems" type="button" class="btn btn-info btn-sm" (click)="addContactItem(tc.contact)"><i
          class="fas fa-plus-circle"></i>
        Ajouter</button>
    </div>
    <div class="my-2">
      <button *ngIf="isNew" class="btn btn-success mr-1" (click)="performSubmitContact()" [disabled]="frm.invalid"><i
          class="fas fa-check"></i>
        Ajouter</button>
      <button *ngIf="!isNew" class="btn btn-success mr-1" (click)="performSubmitContact()" [disabled]="frm.invalid"><i
          class="fas fa-check"></i>
        Modifier</button>
      <button class="btn btn-secondary mr-1" type="button" (click)="cancel()"><i class="fas fa-times"></i>
        Annuler</button>
    </div>
  </form>
</div>
