/* You can add global styles to this file, and also import other style files */

.table td, .table th, .table thead th {
  vertical-align: middle;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 0.75em;
  }
}

/* used in select-responsables, liste-responsables */

.summary span:not(:last-child)::after {
  content: ' - ';
}
