<div class="alert alert-info my-2">
  <h4>Aide sur la recherche</h4>
  <ul>
    <li>Il est possible d'utiliser les caractères génériques dans la recherche :
      <ul>
        <li>Le caractère étoile (<strong>*</strong>) remplace zéro ou plusieurs caractères.</li>
        <li>Le caractère point d'interrogation (<strong>?</strong>) remplace exactement un seul caractère.</li>
      </ul>
    </li>
    <li>Il est possible de mentionner plusieurs mots à rechercher en les séparant par une virgule
      (<strong>,</strong>).</li>
  </ul>
  <p><strong><em>Exemple 1 :</em></strong> ab* : renvoie tous les noms qui commencent par
    <strong>ab</strong>.</p>
  <p><strong><em>Exemple 2 :</em></strong> ?a?a : renvoir tous les noms formés de 4 caractères et qui ont la
    lettre <strong>a</strong> en 2<sup>ème</sup> et en 4<sup>ème</sup> position.</p>
  <p><strong><em>Exemple 3 :</em></strong> yass*,*ani : renvoie tous les noms qui commencent par
    <strong>yass</strong> et tous les noms
    qui se terminent par <strong>ani</strong>.</p>
</div>
